@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Texturina', 'serif';
}

header {
    width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
}

* p {
    font-family: 'Texturina', 'serif';
}

.logoimgnav {
    float: left;
    width: 200px;
    height: 45px;
}

.slideshow {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 30s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 30s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 5s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 10s;
}

.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 15s;
}

.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 85%);
    color: #fff;
    padding: 2rem 3rem;
}

.slideshow-item-text h3 {
    font-size: 4rem;
    font-family: 'Texturina', 'serif';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 10px;
}

.slideshow-item-text p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 30px;
}

@keyframes cycleImages {
    25% {
        opacity: 1;
    }
    40% {
        opacity: .8;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.2);
    }
}


/* to make it responsive */

@media screen and (max-width: 767 px) {
    .slideshow-item-text {
        max-width: 70%;
        padding: .7rem 1rem;
        top: initial;
        transform: initial;
        bottom: 0px;
    }
    .slideshow-item-text h3 {
        font-size: 2rem;
        
    }
    .slideshow-item-text p {
        font-size: .8rem;
    }
}

main {
    width: 1000px;
    display: block;
    margin: auto;
}


/* main */

.m1 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    clear: both;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.container .card {
    position: relative;
    width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgb(0, 0, 0, .5);
    transition: .3s ease-in-out;
}

.container .card:hover {
    height: 420px;
}

.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 30px rgb(2, 70, 22);
    z-index: 1;
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
    height: 200px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    z-index: 1;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

.separator {
    display: flex;
    align-items: center;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #999;
    width: 20px;
}

.separator h2 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 30px;
}

.center {
    text-align: center;
    font-size: 18px;
    color: gray;
    font-family: emoji;
}

.centp {
    line-height: 23px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 19px;
    font-family: inherit;
}

.foto {
    margin-top: 32px;
    float: left;
    display: inline-block;
    width: 100%;
    background-color: #544a46;
    margin-bottom: 35px;
    height: 85px;
}

.all {
    width: clac(100%/2);
    float: left;
    padding: 15px;
    align-items: center;
}

.van {
    float: left;
    margin-left: 120px;
    width: 50px;
    height: 28px;
    margin-top: 13px;
}

.p {
    margin-left: 245px;
    font-size: 18px;
    /* font-weight: bold; */
    color: white;
    font-family: ui-serif;
    margin-top: 20px;
}

.span {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 25px;
}

.last {
    font-size: 20px;
    color: grey;
}

.button1 {
    margin-right: 150px;
}

.button {
    width: calc(100%/6);
    float: right;
    margin-top: 25px;
    padding: 7px;
    text-transform: uppercase;
    background-color: rgb(214, 52, 52);
    color: white;
    font-size: 16px;
}

.grid {
    margin-top: 30px;
    position: relative;
    display: inline;
    clear: both;
    margin-bottom: 30px;
}

.col-1-2 {
    width: 50%;
    float: right;
    margin-bottom: 35px;
}

.hh {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 600;
}

.royalp {
    font-family: inherit;
    line-height: 25px;
    margin-bottom: 5px;
    font-size: 18px;
}

.royala {
    color: #a52a2ae8;
    text-decoration-line: none;
    font-size: 15px;
}

.center2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* End Non-Essential  */

.property-card {
    height: 22em;
    width: 396px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-left: 5%; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    float: right;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* border-radius: 0px; */
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    background-color: #544a46;
}


/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */


/* Top Half of card, image. */

.property-image {
    height: 20em;
    width: 90%;
    padding: 2em 1em;
    position: Absolute;
    top: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}

span {
    font-weight: bold;
    color: #0c4c0f;
    font-size: 20px;
    line-height: 35px;
}

.property-card :hover {
    transform: scale3d(1.2, 1.106, 1);
}


/* .bg{
    background-repeat: no-repeat;
    background-size: cover;
    clear: both; background-image: url(img/shmag.jpg);
} */

.cardhed {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    z-index: 1;
}

.content p {
    margin-bottom: 15px;
    z-index: 1;
}

.footer {
    font-family: 'Texturina', 'serif';
    width: 100%;
    margin-top: 30px;
    width: 100%;
    clear: both;
    height: 350px;
    background-color: #4a4442;
    background-image: url(img/foot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    padding: 30px;
    line-height: 25px;
}

.col-1-3 {
    width: 25.5%;
    float: left;
    margin-left: 75px;
}



.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.logoimg {
    width: 120px;
    margin-left: 30px;
    border-radius: 40%;
}

.menue {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
}

.address span,
.menu span {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: emoji;
}

.address li,
.menu li {
    margin: 20px 0px;
    list-style: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.428571429;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    box-sizing: border-box;
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}

.address {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
}

.address .fa {
    color: #da3e44;
    margin-right: 10px;
    font-size: 18px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-phone:before {
    content: "\f095";
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-envelope:before {
    content: "\f0e0";
}

.w3-top {
    top: 0;
}

.w3-top,
.w3-bottom {
    position: relative;
    width: 100%;
    z-index: 1;
}

.w3-white,
.w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.w3-padding {
    padding: 8px 16px!important;
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.w3-bar {
    width: 100%;
    overflow: hidden;
}

.w3-wide {
    letter-spacing: 4px;
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

b,
strong {
    font-weight: bolder;
}

.w3-right {
    float: right!important;
    margin-top: 10px;
}

.w3-white,
.w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.w3-padding {
    padding: 8px 16px!important;
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.w3-bar {
    width: 100%;
    overflow: hidden;
}

.w3-wide {
    letter-spacing: 4px;
}

.anav {
    font-family: 'Texturina', 'serif';
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 4px;
    box-sizing: inherit;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    white-space: normal;
    font-weight: bold;
}


button {
    padding: 10px;
    background-color: azure;
    font-size: 15px;
    font-weight: 600;
}

.col-1-2-2 {
    width: 50%;
    float: left;
    margin-bottom: 35px;
}


/* clothes  -------------------------------------------------*/

.clotheshed {
    width: 100%;
    height: 450px;
}

.slideshow-item-text-head {
    max-width: 50%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 81%);
    color: #fff;
    padding: 5.5rem 2.5rem;
    font-size: 50px;
    /* margin-left: 35%; */
    font-weight: 600;
    font-family: 'Texturina', 'serif';
}

.col-1-2-clothes {
    width: 70%;
    float: right;
    margin-top: 30px;
    text-align: justify;
}

.clothesp {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: inherit;
    margin-top: 20px;
}

.col-1-small {
    width: 28%;
    float: left;
}

.col-1-small img {
    width: 100%;
    height: 475px;
    transition: .3s;
    margin-top: 35px;
}

.col-1-2-clothes-man {
    width: 60%;
    float: left;
    clear: both;
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-1-small-man {
    width: 28%;
    float: right;
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-1-small-man img {
    width: 100%;
    height: 450px;
}

.separator2 {
    align-items: center;
    margin-top: 30px;
    clear: both;
    /* text-align: center;
    font-size: 25px;
    color: brown; */
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
}

.spanhed {
    color: aliceblue;
    font-size: 1.5rem;
}

.clohed {
    margin: auto;
    color: brown;
    margin-top: 30px;
    text-align: center;
}

ul li {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #751f05;
}

.clo-ul-p {
    margin: 10px;
    font-weight: inherit;
    font-size: 17px;
    text-align: justify;
}

.hattah {
    margin: auto;
    font-size: 30px;
    color: brown;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.formh {
    margin: 20px;
    font-size: 25px;
    font-family: monospace;
    color: chocolate;
}

#newClothesContent {
    clear: both;
    position: relative;
    float: left;
    background-color: white;
    margin: 5px -15px;
    border-radius: 5px;
    width: 100%;
    line-height: 1.5;
    padding: 24px;
    margin-bottom: 45px;
    margin-top: 15px;
}

#newClothesContent h4 {
    font-size: 20px;
    color: brown;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 315px;
}

#newClothesContent p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 315px;
    clear: both;
}

#newClothesContent img {
    float: left;
    margin-top: -100px;
}

#newClothesContent {
    position: relative;
}

#Adding-Form {
    width: 960px;
    display: inline-flex;
    background-color: #d5efd973;
    padding: 50px;
}


/* test------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Righteous);

/* 
h3 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 1em; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h3:after {
    content: attr(data-shadow);
    position: absolute;
    top: 7.8rem;
    left: 15rem;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient( 
45deg
, transparent 45%, hsla(48,20%,90%,1) 45%, hsla(48,20%,90%,1) 55%, transparent 0 );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  } */

@import url(https://fonts.googleapis.com/css?family=Righteous);
.wrap {
    margin-left: 20px;
}

.box {
    float: left;
    background-color: white;
    margin: 5px -15px;
    border-radius: 5px;
    width: 100%;
    line-height: 1.5;
    padding: 24px;
    margin-bottom: 45px;
    margin-top: 15px;
}

.box h3 {
    font-family: 'Texturina', 'serif';
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.box1 {
    background-color: #ffe9a7;
}

.box2 {
    background-color: #fff;
}

.shadow1 {
    position: relative;
}

.shadow1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.shadow1:before,
.shadow1:after {
    position: absolute;
    content: "";
    bottom: 12px;
    left: 15px;
    top: 80%;
    width: 45%;
    background: #9B7468;
    z-index: -1;
    -webkit-box-shadow: 0 20px 15px #9B7468;
    -moz-box-shadow: 0 20px 15px #9B7468;
    box-shadow: 0 20px 15px #9B7468;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.shadow1:after {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    right: 15px;
    left: auto;
}

.shadow2:before {
    position: absolute;
    content: "";
    width: 80%;
    top: 140px;
    bottom: 15px;
    left: 30px;
    background-color: #9F8641;
    z-index: -1;
    -webkit-box-shadow: 0 23px 17px 0 #9F8641;
    -moz-box-shadow: 0 23px 17px 0 #9F8641;
    box-shadow: 0 23px 17px 0 #9F8641;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}


/* test------------------------------ */

.col-1-10 {
    display: inline-flex;
    margin-left: 169px;
    float: left;
    clear: both;
    margin-bottom: 30px;
}

hr {
    border: 1px solid #3f2c2e;
    margin-top: 27px;
}

.anav:hover {
    color: #da3e44;
    transform: scale(1.2);
}

.copy {
    float: right;
    color: rgb(194, 176, 176);
    font-family: 'Texturina', 'serif';
}

.col-1-3 {
    width: 52%;
    float: left;
}

.logoimg {
    width: 120px;
    margin-left: 30px;
    border-radius: 40%;
    float: left;
    margin-right: 25px;
    margin-top: 33px;
}

.logotit {
    font-family: 'Texturina', 'serif';
    letter-spacing: 4px;
    color: #FFF;
    font-size: 38px;
}

.footerp {
    margin-top: 25px;
    color: #f3f3f3;
    font-family: inherit;
    text-align: justify;
    font-size: 19px;
    line-height: 1.15;
}

.fa {
    padding: 10px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    background: #000;
    color: white;
}

.fa-twitter {
    background: #56423b;
    color: white;
}

.fa-linkedin {
    background: #000;
    color: white;
}

.fa-instagram {
    background: #56423b;
    color: white;
}

.fa-snapchat-ghost {
    background: #000;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa:hover {
    opacity: 0.8;
}